<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button Components</title>
    <link href="../../dist/output.css" rel="stylesheet">
</head>
<body class="bg-neutral-1000 w-screen h-screen mx-auto tab:w-full px-4 tab:px-0 mb-8 font-inter">

    <h1 class="text-neutral-50 text-4xl text-center font-medium py-4">Button Components</h1>

    <!-- Primary Buttons -->
    <div class="flex flex-row gap-16 justify-center"> 

        <!-- Primary Large -->
        <fieldset class="border border-neutral-600 p-4 w-120"> 

            <legend class="text-neutral-50 p-4 text-2xl font-medium"><h2>Primary Large</h2></legend>
            <div class="flex flex-col gap-5 items-center">
                
                <button class="text-neutral-50 bg-twitter-blue px-5 py-5 w-almost-md-3 font-bold rounded-full backdrop:blur-xl shadow-neutral">
                    Post
                </button>
    
                <button class="text-neutral-50 bg-twitter-blue hover:bg-twitter-blue-hover px-5 py-5 w-almost-md-3 font-bold rounded-full backdrop:blur-xl shadow-neutral">
                    Post
                </button>
    
                <button class="text-neutral-50 bg-twitter-blue-disabled px-5 py-5 w-almost-md-3 font-bold rounded-full backdrop:blur-xl shadow-neutral cursor-not-allowed" disabled>
                    Post
                </button>
    
            </div>
            
        </fieldset>

        <!-- Primary Medium -->
        <fieldset class="border border-neutral-600 p-4 w-120">
    
            <legend class="text-neutral-50 p-4 text-2xl font-medium"><h2>Primary Medium</h2></legend>
            <div class="flex flex-col gap-7 items-center">
                
                <button class="text-neutral-50 bg-twitter-blue px-22 py-3.75 w-sm font-bold rounded-full backdrop:blur-xl shadow-neutral">
                    Post
                </button>
    
                <button class="text-neutral-50 bg-twitter-blue hover:bg-twitter-blue-hover px-22 py-3.75 w-sm font-bold rounded-full backdrop:blur-xl shadow-neutral">
                    Post
                </button>

                <button class="text-neutral-50 bg-twitter-blue-disabled px-22 py-3.75 w-sm font-bold rounded-full backdrop:blur-xl shadow-neutral cursor-not-allowed" disabled>
                    Post
                </button>
    
            </div>
            
        </fieldset>

        <!-- Primary Small -->
        <fieldset class="border border-neutral-600 p-4 w-120">

            <legend class="text-neutral-50 p-4 text-2xl font-medium"><h2>Primary Small</h2></legend>
            <div class="flex flex-col gap-9 items-center">
                
                <button class="text-neutral-50 bg-twitter-blue px-6 py-3 w-22 font-bold rounded-full backdrop:blur-xl shadow-neutral">
                    Post
                </button>
    
                <button class="text-neutral-50 bg-twitter-blue hover:bg-twitter-blue-hover px-6 py-3 w-22 font-bold rounded-full backdrop:blur-xl shadow-neutral">
                    Post
                </button>

                <button class="text-neutral-50 bg-twitter-blue-disabled px-6 py-3 w-22 font-bold rounded-full backdrop:blur-xl shadow-neutral cursor-not-allowed" disabled>
                    Post
                </button>
    
            </div>
            
        </fieldset>

    </div>

    <br>
    <!-- Secondary Buttons -->
    <div class="flex flex-row gap-16 justify-center"> 

        <!-- Secondary Large -->
        <fieldset class="border border-neutral-600 p-4 w-120"> 

            <legend class="text-neutral-50 p-4 text-2xl font-medium"><h2>Secondary Large</h2></legend>
            <div class="flex flex-col gap-5 items-center">
                
                <button class="text-neutral-1000 bg-neutral-50 px-6 py-3 w-almost-md-3 font-bold rounded-4xl backdrop:blur-xl shadow-neutral">
                    Next
                </button>
    
                <button class="text-neutral-1000 bg-neutral-50 hover:bg-neutral-200 px-6 py-3 w-almost-md-3 font-bold rounded-4xl backdrop:blur-xl shadow-neutral">
                    Next
                </button>

                <button class="text-neutral-1000 bg-neutral-500 px-6 py-3 w-almost-md-3 font-bold rounded-4xl backdrop:blur-xl shadow-neutral cursor-not-allowed" disabled>
                    Next
                </button>
    
            </div>
            
        </fieldset>

       <!-- Secondary Medium -->
       <fieldset class="border border-neutral-600 p-4 w-120"> 

        <legend class="text-neutral-50 p-4 text-2xl font-medium"><h2>Secondary Medium</h2></legend>
        <div class="flex flex-col gap-7 items-center">
            
            <button class="text-neutral-1000 bg-neutral-50 px-6 py-2 w-almost-sm font-bold rounded-4xl backdrop:blur-xl shadow-neutral">
                Create Account
            </button>

            <button class="text-neutral-1000 bg-neutral-50 hover:bg-neutral-200 px-6 py-2 w-almost-sm font-bold rounded-4xl backdrop:blur-xl shadow-neutral">
                Create Account
            </button>

            <button class="text-neutral-1000 bg-neutral-500 px-6 py-2 w-almost-sm font-bold rounded-4xl backdrop:blur-xl shadow-neutral cursor-not-allowed" disabled>
                Create Account
            </button>

        </div>
        
       </fieldset>

        <!-- Secondary Small -->
        <fieldset class="border border-neutral-600 p-4 w-120"> 

            <legend class="text-neutral-50 p-4 text-2xl font-medium"><h2>Secondary Small</h2></legend>
            <div class="flex flex-col gap-9 items-center">
                
                <button class="text-neutral-1000 bg-neutral-50 px-5 py-2 w-22.5 font-bold rounded-4xl backdrop:blur-xl shadow-neutral">
                    Follow
                </button>
    
                <button class="text-neutral-1000 bg-neutral-50 hover:bg-neutral-200 px-5 py-2 w-22.5 font-bold rounded-4xl backdrop:blur-xl shadow-neutral">
                    Follow
                </button>
    
                <button class="text-neutral-1000 bg-neutral-500 px-5 py-2 w-22.5 font-bold rounded-4xl backdrop:blur-xl shadow-neutral cursor-not-allowed" disabled>
                    Follow
                </button>
    
            </div>
            
        </fieldset>

    </div>
    
    <!-- For / Following
    <div class="flex w-post-xl h-14.5 mx-20 gap-40 mt-5 border-b justify-center items-center">
        <div class="flex flex-col">
            <input class="hidden peer" type="radio" id="for_you" name="feed_type" checked>
            <label class="font-inter text-neutral-50 font-medium peer-checked:bg-transparent peer-checked:pb-4 peer-checked:text-neutral-400 pb-3" for="for_you">For You</label>
            <div class="hidden peer-checked:block border-b-2 border-twitter-blue rounded-3xl"></div>
        </div>

        

        <div class="flex flex-col">
            <input class="hidden peer" type="radio" id="following" name="feed_type">
            <label class="font-inter text-neutral-50 font-medium peer-checked:bg-transparent peer-checked:pb-4 peer-checked:text-neutral-400 pb-3" for="following">Following</label>
            <div class="hidden peer-checked:block border-b-2 border-twitter-blue rounded-3xl"></div>

        </div>

    </div> -->

</body>
</html>