<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Components</title>
    <link href="../../dist/output.css" rel="stylesheet">
</head>
<body class="  bg-neutral-900 w-screen h-screen mx-auto flex flex-col items-center tab:w-full px-4 tab:px-0 mb-8 font-inter">
    
    <h1 class="text-neutral-50 text-4xl text-center font-medium py-4">Card Components</h1>

    <fieldset class="border border-neutral-600 p-4 w-150 flex items-center">
        
        <legend class="text-neutral-50 font-medium text-2xl p-4 mobile:text-left mobile:ml-6 px-2 text-center"><h2>Large Card No Header</h2></legend>
    
        <div class="w-128 sm:w-full h-88 bg-neutral-1000 rounded-2xl px-4 py-3 text-neutral-50">

        </div>

    </fieldset>

    <div class="flex flex-row gap-8 justify-center"> 

    <fieldset class="border border-neutral-600 p-4 w-150 flex items-center mt-4">

        <legend class="text-neutral-50 font-medium text-2xl p-4 mobile:text-left mobile:ml-6 px-2 text-center"><h2>Header Card</h2></legend>

        <div class="w-128 sm:w-full h-56 bg-neutral-1000 rounded-2xl px-4 py-3 text-neutral-50">
            
            <div class="w-full h-12 px-4 py-3 flex gap-4">

                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M18 6L6 18" stroke="#F9F9F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 6L18 18" stroke="#F9F9F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

                <h2 class="text-semi-base font-bold">Header</h2>

            </div>

        </div>

    </fieldset>

    <fieldset class="border border-neutral-600 p-4 w-150 flex items-center mt-4">

        <legend class="text-neutral-50 font-medium text-2xl p-4 mobile:text-left mobile:ml-6 px-2 text-center"><h2>Logo Card</h2></legend>

        <div class="w-128 sm:w-full h-56 bg-neutral-1000 rounded-2xl px-4 py-3 text-neutral-50">
            
            <div class="w-full h-12 px-4 py-3 flex gap-4">

                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M18 6L6 18" stroke="#F9F9F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 6L18 18" stroke="#F9F9F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

            </div>

        </div>

    </fieldset>

    </div>

</body>
</html>